 <h1>Tasks</h1>

 <div class="row">
   <div class="col-md-8">
   <%= link_to 'Add task', new_task_path %>
     <% @tasks.each do |task| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
            <%= task.body %>
            <%= form_for task do |f| %>
              <%= f.check_box :completed %>
              <%= f.label :completed %>
              <%= f.submit %>
            <% end %>
           </h4>
         </div>
       </div>
     <% end %>

